In [1]:
df = spark.createDataFrame([["A",10],["B",20]])
df.show()

In [2]:
df_2 = spark.createDataFrame([{"ID":"A","NO":10},{"ID":"B","NO":20},{"ID":"","NO":30}])
df_2.show()

In [3]:
#eqNullSafe
from pyspark.sql.functions import col
df_2.where(col('ID').eqNullSafe("hello")).show()

In [4]:
#lit
from pyspark.sql.functions import lit
df_2.select(lit(5),lit("sda")).show()

In [5]:
#Converting to Spark Types

In [6]:
#Working with Booleans

In [7]:
#Working with Numbers

In [8]:
#Working with Strings

from pyspark.sql.functions import initcap, lower
df_2.select(initcap("ID")).show()
df_2.select(lower(col("ID"))).show()
df_2.withColumn("newCol", lower(col("ID"))).select("newCol").show()

In [9]:
#Regular Expressions
from pyspark.sql.functions import regexp_replace
df_2.select(regexp_replace(col("ID"),"A","AAA")).show()

In [10]:
#Working with Dates and Timestamps
from pyspark.sql.functions import current_date, current_timestamp
df_3 = spark.range(5).withColumn("today",current_date()).withColumn("now", current_timestamp())
df_3.show()

In [11]:
from pyspark.sql.functions import date_add , date_sub, datediff, months_between, to_date
df_3.select(date_sub(col("today"),5)).show()
df_3.select(to_date(lit("2017-12-01")).alias("start"), to_date(lit("2017-01-01")).alias("end")).select(months_between(col("start"),col("end"))).show()