In [1]:
spark.sql("show databases").show()

In [2]:
print "hello spark"